In [1]:
# Dependencies and Setup
import pandas as pd

# set options
pd.options.display.float_format = '{:20,.2f}'.format

# Data files for analysis
pyCitySchoolsFile = "Resources/schools_complete.csv"
pyCityStudentsFile = "Resources/students_complete.csv"

# Load data into DataFrames for analysis
pyCitySchools = pd.read_csv(pyCitySchoolsFile)
pyCityStudents = pd.read_csv(pyCityStudentsFile)

# merge school and students DataFrames
pyCitySchoolStudents = pd.merge(pyCitySchools, pyCityStudents, how="left", on=["school_name"])

In [2]:
#District SUmmary

studentsPassedInMath = pyCityStudents[pyCityStudents.math_score >= 70 ]
studentsPassedInReading = pyCityStudents[pyCityStudents.reading_score >= 70 ]
studentsPassed = pyCityStudents[(pyCityStudents.reading_score >= 70) & (pyCityStudents.math_score >= 70) ]

districtSummaryDf = pd.DataFrame({
    "Total Schools" : [pyCitySchools["school_name"].count()],
    "Total Students": [pyCityStudents["student_name"].count()],
    "Total Budget" :  [pyCitySchools["budget"].sum()],
    "Average Math Score" :  [pyCityStudents["math_score"].mean()],
    "Average Reading Score" :  [pyCityStudents["reading_score"].mean()],
    "% Passing Math" :  [studentsPassedInMath["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Passing Reading" :  [studentsPassedInReading["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Overall Passing" :  [studentsPassed["student_name"].count() * 100 / pyCityStudents["student_name"].count()]
})


districtSummaryDf.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}"
})

In [3]:
# School Summary

schoolSummaryDf = pyCitySchools.groupby(["school_name", "type"])

schoolStudentsSummaryDf = pyCitySchoolStudents.groupby(["school_name", "type"])

schoolStudentsPassedInMath = pyCitySchoolStudents[pyCitySchoolStudents.math_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassedInReading = pyCitySchoolStudents[pyCitySchoolStudents.reading_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassed = pyCitySchoolStudents[(pyCitySchoolStudents.reading_score >= 70) & 
                                            (pyCitySchoolStudents.math_score >= 70) ].groupby(["school_name", "type"])

schoolSummaryDf = pd.DataFrame({
    "Total Students": schoolStudentsSummaryDf["student_name"].count(),
    "Total Budget": schoolSummaryDf["budget"].sum(),
    "Per Student Budget": schoolSummaryDf["budget"].sum() / schoolStudentsSummaryDf["school_name"].count(),
    "Average Math Score": schoolStudentsSummaryDf["math_score"].mean(),
    "Average Reading Score": schoolStudentsSummaryDf["reading_score"].mean(),
    "%Passing Math": schoolStudentsPassedInMath["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Passing Reading": schoolStudentsPassedInReading["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Overall Passing": schoolStudentsPassed["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count()
}).reset_index().rename(columns={"school_name":"", "type": "School Type"})

spendingPerStudentAnalysis = schoolSummaryDf

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})

In [4]:
# Top performing schools (By % Overall Passing)

topFiveSchoolsDf = schoolSummaryDf.sort_values(by=['%Overall Passing'], ascending=False)
topFiveSchoolsDf.head(5).style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})

In [5]:
# Bottom performing schools (By % Overall Passing)

bottomFiveSchoolsDf = schoolSummaryDf.sort_values(by=['%Overall Passing'])
bottomFiveSchoolsDf.head(5).style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})

In [6]:
# Math Scores by Grade

ninthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "9th"].groupby(["school_name"])
TenthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "10th"].groupby(["school_name"])
EleventhGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "11th"].groupby(["school_name"])
TwelfthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "12th"].groupby(["school_name"])

schoolSummaryDf = pd.DataFrame({
    "9th" : ninthGradeMath["math_score"].mean(),
    "10th" : TenthGradeMath["math_score"].mean(),
    "11th" : EleventhGradeMath["math_score"].mean(),
    "12th" : TwelfthGradeMath["math_score"].mean()
}).reset_index().rename(columns={"school_name":""})

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})

In [7]:
# Reading Scores by Grade

ninthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "9th"].groupby(["school_name"])
TenthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "10th"].groupby(["school_name"])
EleventhGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "11th"].groupby(["school_name"])
TwelfthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "12th"].groupby(["school_name"])

schoolSummaryDf = pd.DataFrame({
    "9th" : ninthGradeReading["reading_score"].mean(),
    "10th" : TenthGradeReading["reading_score"].mean(),
    "11th" : EleventhGradeReading["reading_score"].mean(),
    "12th" : TwelfthGradeReading["reading_score"].mean()
}).reset_index().rename(columns={"school_name":""})

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})

In [35]:
# Scores by School Spending

spendingBins = pd.cut(spendingPerStudentAnalysis["Per Student Budget"], bins = 4, labels=("<$585", "$585-630", "$630-645", "$645-680"))

spendingPerStudentAnalysis[["Average Math Score", "Average Reading Score", "%Passing Math", "%Passing Reading", "%Overall Passing"]].groupby(spendingBins).agg(["mean"])

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing
,mean,mean,mean,mean,mean
Per Student Budget,,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,83.60,83.89,94.23,95.90,90.22
$630-645,80.20,82.43,80.04,89.54,72.62
$645-680,77.87,81.37,70.35,83.00,58.86